@import "tailwindcss";
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"); */

::-webkit-scrollbar{
  display: none;
}

body{
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('../public/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

#root{
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}